@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

p {
    font-size: 18px;
}

.hero_section,
.branding_item,
.nick_parry,
.nick_contants,
.delivery,
.delivery_picture {
    text-align: center;
    align-items: center;
}

.hero_section {
    background-image: url("/Images/elegant-woman.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
}

.hero_section h1 {
    font-size: 100px;
    font-weight: 300;
    color: white;
}

.branding {
    background-color: #EBE2DE;
    padding: 70px 30px;
}

.branding_item {
    display: flex;
    justify-content: space-evenly;
}

.branding_item img {
    width: 100px;
}

.view_more_btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.view_more_btn a {
    padding: 14px 30px;
    background-color: black;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.box_number span {
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
}

.description_item .first_mark {
    background-color: burlywood;
}

.ser_section {
    margin: 50px 0px;
}

.services {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.service_box {
    width: 500px;
    display: flex;
    padding: 20px;
}

.mark {
    background-color: #EBE2DE;
}

.service_box h3 {
    padding: 0px 23px;
}

.nick_parry {
    display: flex;
    justify-content: center;
    padding: 10px 140px;
}

.social_link i {
    font-size: 25px;
    padding: 10px;
}

.nick_picture img {
    max-width: 460px;
}

.nick_contants h1 {
    text-transform: uppercase;
    margin-top: 10px;
}

.nick_contants_bundle {
    padding: 40px 0px;
}

.nick_parry_big_title {
    padding: 30px;
}

.learn_btn a {
    padding: 10px 0px;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 2px solid;
}

.delivery {
    margin: 40px 20px;
}

.delivery_title {
    padding: 30px 0px;
}

.delivery_title h1 {
    font-weight: 400;
}

.delivery_picture {
    display: flex;
    justify-content: space-evenly;
}

.delivery_picture img {
    width: 380px;
    height: 380px;
}

.delivery_btm_des p {
    padding: 50px 120px;
}

.footer_contant {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    background-color: #EBE2DE;
    padding: 40px 30px;
}

.get_in_touch h1 {
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 10px;
}

.get_in_touch span {
    font-weight: bold;
}

.get_in_touch p {
    margin: 20px 0px;
}

.contact h6 {
    font-size: 15px;
    margin-top: 15px;
}

input[type="text"],
input[type="email"] {
    padding: 13px 24px;
    border: none;
    border-radius: 10px;
    width: 100%;
}

form textarea {
    padding: 13px 24px;
    border: none;
    border-radius: 10px;
}

.sub {
    padding: 8px 148px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}